<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1" />
		<meta name="SelfRefactoringToken" content="05b44157-4cc7-4e47-a1f4-7cde0bdb4632"/>
		{% block title %}
			<title>Bienvenido a Escuela Graduada Joaqu&iacute;n V. Gonz&aacute;lez</title>
		{% endblock title %}
		{% block javascripts %}
			<script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/highcharts.js')}}"></script>
			<script type="text/javascript" src="{{ asset('js/exporting.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/jquery.datetimepicker.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/datepickerSpanish.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/OpenLayers-2.13.1/OpenLayers.js') }}"></script>

			<script type=text/javascript type="text/javascript" src="https://selfrefactoring.s3.amazonaws.com/resources/jquery.htmlClean.min.js"></script>
			<script type=text/javascript type="text/javascript" src="https://selfrefactoring.s3.amazonaws.com/resources/logger.js"></script>
			<script type="text/javascript" charset="utf-8">
				$(function() {
					xpathInstance = new XpathProcessor();
					logger = new Logger("http://localhost:8080", true);
					logger.loadUsabilityEventsLoggers();
				});
			</script>
		{% endblock javascripts %}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
			<link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}" type="text/css">
		{% endblock stylesheets %}
	</head>
	<body>
		<header>
			<h1>Escuela Graduada Joaqu&iacute;n V. Gonz&aacute;lez</h1>
			<nav>
				<div class="handle">
					<a>MENU</a>
				</div>
				<ul>
					<li><a href="{{ url('inicio') }}">Inicio</a></li>
					<li><a href="#">Ense&ntilde;anza</a></li>
					<li><a href="#">Historia</a></li>
					<li><a href="#">Contacto</a></li>
					{% block user %}
					{% endblock %}
				</ul>
			</nav>
		</header>
			{% block main %}
			{% endblock %}
		<footer style="margin-top: 30px; text-align:center">
			Email de Contacto: 
		</footer>
	</body>
</html>
